<h1>{{title}}</h1>


<p class="text-center mb-25">
    Dieser Service überprüft alle 60 Sekunden das Impfportal Niedersachsen auf Veränderungen. <br/>
    Wenn du eine Benachrichtigung wünscht, trage deine Daten in das untenstehende Formular ein.
</p>

<div class="center-content mb-25">
    <form action="/check/create" method="post">
        <div class="row">
            <label for="plz">Postleitzahl</label>
            <input id="plz" type="text" name="plz" placeholder="Postleitzahl" pattern=".{5,5}" required>
        </div>
        <div class="row">
            <label for="birthday">Geburtstag</label>
            <input id="birthday" type="date" name="birthday" placeholder="Geburtstag" required>
        </div>
        <div class="row">
            <label for="mail">E-Mail</label>
            <input id="mail" type="email" name="mail" placeholder="E-Mail" required>
        </div>
        <input type="submit" value="Benachrichtigung anlegen">
    </form>
</div>

<p class="text-center">Für weitere Informationen wende dich bitte an das <a href="https://www.impfportal-niedersachsen.de/">Impfportal des Landes Niedersachsen</a>.</p>