body {
  padding: 25px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif; }

* {
  box-sizing: border-box; }

a {
  color: #00B7FF; }

h1 {
  text-align: center; }

.mb-25 {
  margin-bottom: 25px; }

.center-content {
  display: flex;
  align-items: center;
  justify-content: center; }

.text-center {
  text-align: center; }

label {
  display: inline-block;
  width: 100px; }

input {
  width: 150px;
  padding: 6px 10px; }

.row {
  margin-bottom: 15px; }

input[type="submit"] {
  display: inline-block;
  width: 250px;
  padding: 8px 12px;
  border: 1px solid #000;
  border-radius: 0;
  background: #ffffff;
  box-shadow: none;
  transition: 0.3s;
  cursor: pointer; }
  input[type="submit"]:hover {
    color: #ffffff;
    background: #00B7FF; }

/*# sourceMappingURL=style.css.map */